
  .Feedback_Container_Holder_Body_LeftSide input,  .Feedback_Container_Holder_Body_LeftSide textarea{
    width: 98%;
    display: block;
    border: 1px solid #eee;
    padding: 10px 8px;
    font-family: Roboto, "sans-serif";
    margin-bottom: 1rem;
  }
  .Feedback_Container_Holder_Body_LeftSide textarea{
    height: 200px;
  }
  .Feedback_Container_Holder_Body_LeftSide input::placeholder, .Feedback_Container_Holder_Body_LeftSide textarea::placeholder{
    font-size: 11px;
    text-transform: capitalize;
    color: #ddd;
  }
  .send-feedback{
    border-top: none;
    padding-top: 1rem;
  }
  .send-feedback button{
    width: 120px;
    background-color: var(--blue-color);
    color: #fff;
  }