.home-section{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    height: 100%;
    padding-top: 3rem;
}
.home-header{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    color: #333;
    margin-bottom: 2rem;
    border: 1px solid #eee;
    padding: 16px;
}
.home-header img{
    height: 230px;
    width: 250px;
}
.home-title{margin-left: 3rem;}
.home-title h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.home_user_info_box, .home_user_info{
    display: flex;
    align-items: center;
    color: #666;
    margin-right:1rem ;
}
.home_user_info{font-size: 13px;
     background-color: #fff; 
     padding: 10px 16px; 
     border-radius: 20px;
     text-transform: capitalize;
     background-color: var(--light-background-color);

}
.home_user_info i{
margin-right: 10px;
}
.home-title p{
    font-size: 13px;
    line-height: 25px;
    width: 50%;
    color: #777;
}
.home-projects{
    border-top: 1px solid #eee;
}
.home-projects h5{
    font-size:16px;
    font-weight: 400;
    display: flex;
    display: inline-block;
    align-items: center;
}

.home-project-card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.home-project-cards{
   width: 24%;
   padding: 20px;
   margin-right: 15px;
   border-radius: 10px;
   border: 1px solid #eee;
   background-color: #f9f9f9;
}
.home_project_card_title i{
    font-size: 20px;
    color: var(--blue-color);
    background-color: var(--light-background-color);
    padding: 10px;
    border-radius: 100%;
}
.home_project_card_title h6{
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 5px;
}
.home_project_card_title span{
    font-size:13px;
}
.home-project-cards a{color: var(--blue-color);text-decoration: none;}

.home_project_card_title p{
    font-size: 13px;
    width: 95%;
    line-height: 23px;
    color: #666;
}
.home_project_members{
    border-top: 1px solid #eee;
}
.home_project_members h6{
    font-size:14px;
    font-weight: 400;
    color: #333;
    margin-top: 16px;
    margin-bottom: 10px;
}
.home_project_members .task_assign_letter{
     background-color: #8eea8e51;
    color:#1B951B ;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}
.home_project_members span:first-child{margin-left: 8px;}
.home-projects #home_btn{
 
    background-color: var(--blue-color);
    color: #fff;
    border:none;
    padding:10px 2rem;
    display: flex;
    width: 110px;
    font-size: 14px;
    align-items: center;
    border-radius: 50px;
    margin-top: 2rem;
    text-decoration: none;
    margin-bottom: 2rem;
}
.home-projects #home_btn i{margin-right: 8px;}