nav{
    position: relative;
    height: 50px;
    background-color: transparent;
    border-bottom: 2px solid var(--blue-color);
    display:  flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  nav a{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color:black;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
    width: 100%;
  }
  nav span{
    position: absolute;
    top: 0;
    left: 0;
    width:25%;
    height: 100%;
    background-color: var(--blue-color);
    font-weight: 300;
    border: 8px;
    transition:  .5s;
  }
  nav a:nth-child(1):hover~span{
    left: 0;
  }
  nav a:nth-child(2):hover~span{
    left: 25%;
  }
  nav a:nth-child(3):hover~span{
    left: 50%;
  }
  nav a:nth-child(4):hover~span{
    left: 75%;
  }

  .Settings_Icon_Holder{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .Settings_Icon_Holder h1{
    font-size: 30px;
    font-weight: 400;
    color: #333;
  }
  .Settings_Icon{
    font-size: 1.6rem;
    cursor: pointer;
  }


  .dropdown{
    position: absolute;
    top: 4.5rem;
    left: 4.8rem;
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
  }
  .dropdown::before{
    content: '';
    position: absolute;
    top:-0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
  }