.navbar{
    background-color: #fff;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}
.navbar .page-row{
    justify-content: space-between;
    align-items: center;
}
.navbar form{
    position: relative;
}
.navbar input{
    border: var(--box-border);
    border-radius: var(--round-border-radius);
    padding: 8px 16px;
} 
#input_search_btn{
    position: absolute;
    right: 0;
    border-radius: var(--round-border-radius);
    border: none;
    padding: 7px 12px;
    background-color: var(--darkblue-background-color);
    color: #fff;
}
#input_search_btn i{
    font-size: 16px;
}
.nav-icons i{
    font-size: 13px;
    border: var(--box-border);
    padding: 7px;
    border-radius: 100%;
    color: var(--blue-color);
    margin-right: 8px;
    position: relative;
}
.nav-icons #not_length{
    font-size: 10px;
    background-color: var(--blue-color);
    color: #fff;
    padding: 4px 7px;
    border-radius: 50%;
    position: absolute;
    top:15px;
    margin-left: -9px;
    z-index: 2;
}
.nav-right-bar{
    display: flex;
    align-items: center;
}
.profile{
    display: flex;
    margin-left: 25px;
    align-items: center;
}
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 8px;
}
.navbar .profile_popup{
    right: 20px;
    top: 80px;
}
.profile_user_details{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.profile_user_details .task_assign_letter{
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 13px;
    margin-right: 10px;
}

.top_profile_username span:last-child{
    color: #999;
}
.top_profile_username span{
    text-align: left;
    display: block;
    font-size: 12px;
}
.profile a{
    padding: 10px 0;
}
#account_switch{
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    padding-left: 0;
}
#logout{
    border-top:1px solid #ccc ;
    padding-top: 1rem;
    margin-top: 5px;
}