
.View_Table_section_name{
  width: 50%;
}
.View_Table_section_name p{
  font-weight:400;
  font-size: 14px;
}
.View_Elements_Container  h6{
    color: #666;
    font-size: 13px;
    color: var(--blue-color);
    padding: 8px 12px;
    border-radius: 100%;
    margin: 15px 0;
    background-color: var(--light-background-color);
} 
.View_Table_section_Button_Section button{
  width: 150px;
  background-color: var(--blue-color);
  color: #fff;
}


  
  
  