.Edit_Container{
    background-color: rgb(246, 246, 246);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Edit_Elements_Container_Holder{
    width: 98%;
    height: 80vh;
    margin: 1rem;
    background-color: white;
  }
  .Edit_Elements_Container{
    margin: 2rem;
  }
  .Edit_Table_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid rgb(246, 246, 246);
  }
  .Edit_Table_section_name{
    position: relative;
    width: 100%;
    display: flex;
    left: 1px;
  }
  .Edit_Table_section input{
    height: 4vh;;
    width: 100%;
    border: none;
  }
  .icon{
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
  }
  .Edit_Table_section_Button_Sction{
    padding-top: 4rem;
    display: flex;
    gap: 1rem;
    border-top: 2px solid rgb(246, 246, 246);
  }
  .Edit_Table_section_Button_Sction button{
  height: 50px;
  width: 150px;
  background-color: var(--blue-color);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  
  }
  
  button:nth-child(1){
  background-color: rgb(216, 216, 216);
  cursor: pointer;
  }
  button:nth-child(2){
    cursor: pointer;
  }
