.Edit_Container{
    background-color: rgb(246, 246, 246);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    overflow-y: scroll;
  }
  .Edit_Elements_Container_Holder{
    width: 98%;
    height: 80vh;
    margin: 1rem;
    background-color: white;
  }
  .Edit_Elements_Container{
    margin: 2rem;
    color: #333;
  }
  .Edit_Elements_Container h1{
    font-size: 25px;
    font-weight: 400;
  }
  .password-edit-subtitle{
    margin-bottom: 3rem;
  }
   .password-edit-subtitle p{
    color: #777;
   }
  .Edit_Elements_Container  p{
    font-size: 13px;
  }

  .Edit_Table_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid rgb(246, 246, 246);
  }
  .Edit_Table_section_name{
    position: relative;
    width: 100%;
    display: flex;
    left: 1px;
  }
  .Edit_Table_section_name p{
    color: #333;
  }
  .Edit_Table_section input{
    height: 4vh;;
    width: 100%;
    border: none;
    padding: 8px;
  }
  .icon{
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
  }
  .Edit_Table_section_Button_Sction{
    padding-top: 3rem;
    display: flex;
    gap: 1rem;
    border-top: 2px solid rgb(246, 246, 246);
  }
  .Edit_Table_section_Button_Sction button{
  width: 120px;
  padding: 12px 0;
  background-color: var(--blue-color);
  border: none;
  color: #fff;
  font-size: 13px;
  border-radius: 10px;
  }
  
 .Edit_Table_section_Button_Sction button:first-child{
  background-color: var(--light-background-color);
  cursor: pointer;
  color: #333;
  }
  button:nth-child(2){
    cursor: pointer;
  }
