.settings_container{
    font-family: 'Roboto', sans-serif;
    padding: 40px 20px;
    background-color: #fff;
    height: 100%;
  }
  .settings_sections{
    border: 1px solid #eee;
    padding: 2rem;
  }
  .settings_sections h1{
    font-size: 20px;
    font-weight: 400;
  }
  .settings_sections h1 i{
    background-color: var(--light-background-color);
    color: var(--blue-color);
    padding: 10px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .settings_header{
    margin-bottom: 3rem;
  }
   .settings_header p{
    color: #777;
   }
   .settings_sections  p{
    font-size: 13px;
  }
  .table_section{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 2px solid rgb(246, 246, 246);
  }
  .Edit_Table_section_name{
    position: relative;
    width: 100%;
    display: flex;
    left: 1px;
  }
  .Edit_Table_section_name p{
    color: #333;
  }
  .table_section input{
    height: 4vh;;
    width: 100%;
    border: none;
    padding: 8px;
  }
  .table_section input::placeholder{
    font-size: 12px;
    color: #ccc;
  }
  .password_condition{
    display: flex;
    margin-top: 1rem;
  }
  .settings-buttons{
    padding-top: 3rem;
    display: flex;
    gap: 1rem;
    border-top: 2px solid rgb(246, 246, 246);
  }
  .settings-buttons button{
    padding: 12px 0;
    border: none;
    font-size: 13px;
    border-radius: 10px;
  }
  .Edit_Table_section_Button_Section button, .Notification_Table_section_Button_Section button{
    width: 120px;
  }
  .Edit_Table_section_Button_Section button:last-child, .Notification_Table_section_Button_Section button:last-child{
    background-color: var(--blue-color);
    color: #fff;
  }
   .Edit_Table_section_Button_Section button:first-child, .Notification_Table_section_Button_Section button:first-child{
    background-color: var(--light-background-color);
    color: #333;
  }
 
  
