.sidebar{
    width: 12%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    padding: 0 40px;
    font-family: "Roboto", sans-serif;
}
.logo{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.logo img{
    width: 30px;
    display: block;
    margin-right: 10px;
}
.logo span{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--title-color);
    font-weight: var(--header-font-weight);
    display: block;
    margin-top: 14px;
}
#sidebar-create-btn{
    border-radius: var(--round-border-radius);
    background-color: var(--light-background-color);
    padding-left: 25px;
    font-weight: var(--header-font-weight);
    margin-bottom: 3rem;
    border: none;
    display:flex;
    text-decoration: none;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    color: var(--title-color);
    cursor: pointer;
    width: 75%;
}
#sidebar-create-btn i{
    background-color: var(--blue-color);
    padding: 13px;
    border-radius: var(--round-border-radius);
    margin-right: -5px;
    color: #fff;
}
.sidebar-subtitle {
    font-size: 12px;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}
.sidebar-links a, #account_switch{
    text-decoration: none;
    font-size: var(--subheader-font-size);
    color: var(--title-color);
    display: block;
    color: var(--title-color);
    padding:14px 1rem;
}
.sidebar-links a{position: relative;}
.activelink{
    background-color: #f9f9f9;
    border-radius: 10px;
}
.sidebar-links a i{
    color: var(--blue-color);
    font-size: 15px;
    margin-right: 12px;
    text-transform: capitalize;
}
.sidebar-links a .lni-chevron-down{
    color: #aaa;
    position: absolute;
    right: 0;
    top: 16px;
}
.admin_dash{margin-top: 3rem;}
.sidebar .sub-links{
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
    margin-left: 3rem;
    margin-bottom: 1rem;
    color: #888;
    cursor: pointer;
}
.sidebar .sub-links:after{
    position: absolute;
    content: "";
    height: 2px;
    width: 10px;
    background-color: #aaa;
    left: -30px;
    top: 5px;
}

#info{
    border: 1px solid var(--blue-color);
    padding: 3px;
    font-size: 12px;
    border-radius: 50%;
    margin-right: 8px;
}
