.admin-users{
     font-family: Roboto, sans-serif;
     background-color: #fff;
     padding: 20px;
     width: 65%;
}
.users_table{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.user_table_rows{
    display: flex;
    border-top: 1px solid #ddd;
}
.user_table_col_header{
    background-color:#f8f8f8;
}
.user_tables_cols{
    width: 20%;
    border-left: 1px solid #ddd;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col_numbers{
    width: 10%;
}
.user_table_colNames h6{
    line-height: 45px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}
.user_id, .project_no{
    text-align: center;
}
.user_table_row_details p{
    color: #333;
    font-size: 11px;
}
.user_details{
    display: flex;
    align-items: center;
    justify-content: center
}
.user_details span{
    display: block;
}
.user_letter {
    border-radius: 100%;
    height: 26px;
    width: 26px;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: var(--blue-color);
    margin-right: 10px;
}
.user_details p span:last-child, .date span:last-child{
    color: #999;
}
.date span{
    margin-right: 5px;
}
.project_status p{
    padding: 7px 1rem;
    border-radius: 10px;
    text-transform: capitalize;
}
#deactive{
  
    color: red;
}
#active{

    color: #66AA47;
}
.actions i{
    padding: 5px;
      border-radius: 5px;
      font-size: 13px;
      cursor: pointer;
}
.actions i:first-child{
    background-color:#ffdddd ;
    color: red;
}
.actions i:last-child{
    background-color:var(--light-background-color) ;
    color: var(--blue-color);
    margin-left:5px ;
  
}
.user_table_pages{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.user_table_pages p{
    font-size: 12px;
}
.tables_total{
    display: flex;
    align-items: center;
    color: #999;
}
.tables_total i{
    margin-left: 10px;
    cursor: pointer;
}
.user_page_slider{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999;
    text-transform: capitalize;
    cursor: pointer;
} 
.user_page_slider p{
    margin:0 5px;
}
.user_page_slider span{
    margin:0 10px;
    display: inline-block;
}
.user_page_slider .show{
    background-color: var(--blue-color);
    color: #fff;
    padding:5px 8px;
    border-radius: 5px;
}
